body {
  font-family: 'Courier New', monospace;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  padding: 2em;
  text-align: center;
}

nav {
  background: #333;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #00ffd5;
  margin: 0 1em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style: square;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}
